<html>
	<head>
	  <script type="text/javascript" src="../js/functions.js"></script>
          <style type = "text/css">
            .thick{{font-size:20px;}}
            .medium{{font-size:16px;}}
            .button{{background-color: #65a1fb; /* Blue */
                     font-size: 16px;
                     border-radius: 8px;
                    }}
            .button1:hover {{
                box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                               }}
          </style>
	</head>

        <img src="https://pbs.twimg.com/profile_images/1249225137590865921/hnxjw1Ma_400x400.jpg" alt="MVM" width="300" height="300">

	<body onload=updateCampaign()>
          <script>var optionsMap = {options_map}</script>
	   <form class = "thick" name="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
             <table cellspacing="10">
               <tr>
                 <th> Select Test Site </th>
                 <th> Select Test Campaign </th>
                 <th> Select Test ID </th>
               </tr>
              <tr>
                <th>
	          <select id="selectSite" name="Site" onchange='updateCampaign()' class="medium">
	            {options_Site}
	          </select>
                </th><th>
	          <select id="selectCampaign" name="Campaign" onchange='updateTestID()' class="medium">
	          </select>
                </th><th>
	          <select id="selectTestID" name="TestID" class="medium"></select>
                </th>
              </tr>
             </table>
             <br>
             <table cellspacing="10">
               <tr><th> Upload MVM only </th><th> <input type="checkbox" name="mvmonly" id="mvmonly" onchange='MVMonly()'> </th></tr>
	       <tr><th> File Simulator DTA </th><th> <input type="file" name="file1" id="file1" class="medium"></th></tr>
	       <tr><th> File Simulator RWA </th><th> <input type="file" name="file2" id="file2" class="medium"></th></tr>
	       <tr><th> File MVM           </th><th> <input type="file" name="file3" id="file3" class="medium"></th></tr>

             </table>

	     <input class="button button1" type="submit" value="Upload >>" name="submit" >
	   </form>
<p>
In case of technical problems, please contact:
<a href="mailto:mvmwebservices@gmail.com?Subject=MVM%20upload%20problem" target="_top">mvmwebservices@gmail.com</a>
</p>

	<body>
</html>

