<html>
	<head>
	<script type="text/javascript" src="../js/functions.js"></script>
	</head>
	
	<body onload=updateCampaign()>
          <script>var optionsMap = {options_map}</script>

	   <form name="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">

	   <select id="selectSite" name="Site" onchange='updateCampaign()'>
	      {options_Site}
	    </select>
	   <select id="selectCampaign" name="Campaign" onchange='updateTestID()'>
	    </select>
	    <select id="selectTestID" name="TestID">
	    </select><br>
	    Upload MVM only <input type="checkbox" name=mvmonly> <br>
	    File Simulator #1: <input type="file" name="file1" id="file1"><br>
	    File Simulator #2: <input type="file" name="file2" id="file2"><br>
	    File MVM         : <input type="file" name="file3" id="file3"><br>

	    <input type="submit" value="Upload" name="submit" >
	</form>
	<body>
</html>
