<html>
	<head>
	<script type="text/javascript" src="../js/functions.js"></script>
	</head>
	
	<body>
	<form name="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
		<select name="TestID">
		{options}
		</select><br>
		File Simulator #1: <input type="file" name="file1" id="file1"><br>
		File Simulator #2: <input type="file" name="file2" id="file2"><br>
		File MVM         : <input type="file" name="file3" id="file3"><br>
		<input type="submit" value="Upload" name="submit" >
	</form>
	<body>
</html>
